@import "init.scss";
@import "./component/buttons.scss";
@import "./component/txtbox.scss";



img {
    min-width: 120px;
    min-height: 180px;
    width: 36vmin;
    height: 46vmin;
    
    .jumo-logo & {
      min-width: 180px;
      min-height: 90px;
      width: 46vmin;
      height: 23vmin;
    }
  }

.header-left{
    margin-left: 0.1em;
    width: 0.1em;
}


