@import "init.scss";
@import "./component/buttons.scss";
@import "./component/txtbox.scss";
@import "./component/frame.scss";



.header-left{
    @extend .frame;

    background-color: yellow;
    width: 100px;
    height: 100px;
    color: yellow;
}

.header-right{
    background-color: red;
    width: 100px;
    height: 100px;
    color: red;
}