<!DOCTYPE html>
<html lang="ko">
<head>
    <%-include("head") %>
    <title>JUMO 관리 페이지</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <header class="appbar">
        <h1 class="appbar-title">
            <a href="/">JUMO 관리 페이지</a>
        </h1>
    </header>
    <div class="appbar-space"></div>
    <section>
        <a href="/login">로그인</a>
        <a href="/register">회원가입</a>
    </section>
    <footer></footer>
</body>
</html>