<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JUMO 로그인</title>
</head>
<body>
    <header></header>
    <section>
        <div class="login-frame">
            <div>
                <label>아이디</label>
                <input value="아이디"/>
            </div>
        </div>
    </section>
    <footer></footer>
</body>
</html>