<!DOCTYPE html>
<html lang="ko">
<head>
    <%-include("head") %>
    <title>JUMO 로그인</title>
    <link rel="stylesheet" href="/login_style.css" />
</head>
<body>
    <header></header>
    <section>
        <div class="login-frame">
            <img class="jumo-logo" src="/jumo-logo.svg" />
            <div class="input-area">
                <input id="txtId" class="txtbox-input" placeholder="아이디" tabindex="1"/>
                <input id="txtPw" class="txtbox-input" placeholder="비밀번호" type="password" tabindex="2" />
            </div>

            <div class="button-list">
                <a class="btn-box" href="/register" tabindex="4">회원가입</a>
                <a class="btn-box" tabindex="3">로그인</a>
            </div>
            
            <div class="btn-social-list">
                <button class="btn-social btn-login-google" tabindex="5" >
                    <img class="login-logo" src="/google-login-logo.svg" />
                    <img class="login-text" src="/google-login-text.svg" />
                </button>
                <button class="btn-social btn-login-naver" tabindex="6" >
                    <img class="login-logo" src="/naver-login-logo.svg" />
                    <img class="login-text" src="/naver-login-text.svg" />
                </button>
                <button class="btn-social btn-login-kakao" tabindex="7" >
                    <img class="login-logo" src="/kakao-login-logo.svg" />
                    <img class="login-text" src="/kakao-login-text.svg" />
                </button>
            </div>

            <div class="btn-find-account-list">
                <a class="btn-simple" href="" tabindex="8" >아이디 찾기</a>
                <a class="btn-simple" href="" tabindex="9" >비밀번호 찾기</a>
            </div>
        </div>
    </section>
    <footer></footer>
</body>
</html>