<!DOCTYPE html>
<html lang="ko">
<head>
    <%-include("head") %>
    <title>JUMO 로그인</title>
    <link rel="stylesheet" type="text/css" href="/login_style.css" />
</head>
<body>
    <header></header>
    <section>
        <div class="login-frame">
            <img class="jumo-logo" src="/jumo-logo.svg" draggable="false" />
            <div class="input-area">
                <input id="txtId" class="txtbox-simple" placeholder="아이디" tabindex="1"/>
                <input id="txtPw" class="txtbox-simple" placeholder="비밀번호" type="password" tabindex="2" />
            </div>

            <div class="button-list">
                <a class="btn-box" href="/register" tabindex="4">회원가입</a>
                <a class="btn-box" tabindex="3">로그인</a>
            </div>
        </div>
    </section>
    <footer></footer>
</body>
</html>