<!DOCTYPE html>
<html lang="ko">
<head>
    <%-include("head") %>
    <title>JUMO 로그인</title>
    <link rel="stylesheet" href="/login_style.css" />
</head>
<body>
    <header></header>
    <section>
        <div class="login-frame">
            <div>
                <label>아이디</label>
                <input value="아이디"/>
            </div>
            <div>
                <label>비밀번호</label>
                <input value="아이디"/>
            </div>
            <div>
                <a>회원가입</a>
                <a>로그인</a>
            </div>
            <div>
                <button>구글 로그인</button>
                <button>카카오 로그인</button>
            </div>
        </div>
    </section>
    <footer></footer>
</body>
</html>