<!DOCTYPE html>
<html lang="ko">
<head>
    <%-include("head") %>
    <title>JUMO 매장관리</title>
    <link rel="stylesheet" type="text/css" href="/main_style.css" />
</head>
<body>
    <header>
        <div> 
            <div> <%# 왼쪽 %> 
                <a href="/main">
                    <img class="jumo-logo" src="/jumo-logo.svg" tabindex="1"/>
                </a>    
                <a class="header-left" href="/main" tabindex="2">매장관리</a>
                <a class="header-left" href="#" tabindex="3">매출관리</a>
            </div>
            <div id="header-rigiht"> <%# 오른쪽 %> 
                <a href="/login" tabindex="4" >로그아웃</a>
            </div>
        </div>
        <hr>

    </header>

    <section>
        
    </section>
    <footer></footer>
</body>
</html>