<!DOCTYPE html>
<html lang="ko">
<head>
    <%-include("head") %>
    <title>JUMO 매장관리</title>
    <link rel="stylesheet" type="text/css" href="/main_style.css" />
</head>
<body>
    <header>
        <div> 
            <div class="header-left"> <%# 왼쪽 %> 

            </div>
            <div class="header-right"> <%# 오른쪽 %> 

            </div>
        </div>
        <hr>

    </header>

    <section>
        
    </section>
    <footer></footer>
</body>
</html>