<!DOCTYPE html>
<html lang="ko">
<head>
    <%-include("head") %>
    <title>JUMO 회원가입</title>
    <link rel="stylesheet" type="text/css" href="/register_style.css" />
</head>
<body>
    <header></header>
    <section>
        <div class="register-area">
            <div class="txtbox-wrapper">
                <div class="txtbox-box">
                    <input id="txtId" class="txtbox-input" />
                    <label class="txtbox-hint" for="txtId" >아이디</label>
                </div>
            </div>
            <button class="btn-box">중복 확인</button>
            <input type="password" class="txtbox-simple" placeholder="비밀번호" />
            <input type="password" class="txtbox-simple" placeholder="비밀번호 확인" />
            <input class="txtbox-simple" placeholder="이름" />
            <input class="txtbox-simple" placeholder="휴대폰 번호" />
            <input class="txtbox-simple" placeholder="중국집" />
            <input class="txtbox-simple" placeholder="주소1" />
            <input class="txtbox-simple" placeholder="주소2" />
            <button class="btn-box">회원 가입</button>
        </div>
    </section>
    <footer></footer>
</body>
</html>