<!DOCTYPE html>
<html lang="ko">
<head>
    <%-include("head") %>
    <title>JUMO 회원가입</title>
    <link rel="stylesheet" type="text/css" href="/register_style.css" />
</head>
<body>
    <header></header>
    <section>
        <div class="register-area" >
            <form method="POST" action="/register_pro">
                <div class="register-location">
                    <img class="jumo-logo" src="/jumo-logo.svg" />
                    <div class="id-area">
                        <input id="txtId" class="txtbox-input" placeholder="아이디"/>
                        <button class="btn-box btn-dchk">중복 확인</button>
                    </div>
                    <input type="password" class="txtbox-simple" placeholder="비밀번호" />
                    <input type="password" class="txtbox-simple" placeholder="비밀번호 확인" />
                    <input class="txtbox-simple" placeholder="이름" />
                    <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="txtbox-simple" maxlength="13"  placeholder="휴대폰 번호(-제외)"/>
                    <input type="date" class="txtbox-simple" value="생년월일(-제외 ,8자리)" />
                        
                    <div class="button-list">
                        <input class="btn-box" type="submit" value="회원가입" />
                        <a class="btn-box" href="/login">취소</a>
                    </div>
                </div>

        </div>
    </section>
    <footer></footer>
</body>
</html>