<!DOCTYPE html>
<html lang="ko">
<head>
    <%-include("head") %>
    <title>JUMO 회원가입</title>
    <link rel="stylesheet" type="text/css" href="/register_style.css" />
</head>
<body>
    <header></header>
    <section>
        <div class="register-area">
            <img class="jumo-logo" src="/jumo-logo.svg" />
            <div class="id-area">
                <input id="txtId" class="txtbox-input" placeholder="아이디"/>
                <button class="btn-box btn-dchk">중복 확인</button>
            </div>
            <input type="password" class="txtbox-simple" placeholder="비밀번호" />
            <input type="password" class="txtbox-simple" placeholder="비밀번호 확인" />
            <input class="txtbox-simple" placeholder="이름" />
            <input class="txtbox-simple" placeholder="휴대폰 번호" />
            <button class="btn-box btn-register">회원 가입</button>
        </div>
    </section>
    <footer></footer>
</body>
</html>