<!DOCTYPE html>
<html lang="ko">
<head>
    <%-include("head") %>
    <title>JUMO 회원가입</title>
</head>
<body>
    <header></header>
    <section>
        <input placeholder="아이디" />
        <button>중복 확인</button>
        <input type="password" placeholder="비밀번호" />
        <input type="password" placeholder="비밀번호 확인" />
        <input placeholder="이름" />
        <input placeholder="휴대폰 번호" />
        <input placeholder="중국집" />
        <input placeholder="주소1" />
        <input placeholder="주소2" />
        <button>회원 가입</button>
    </section>
    <footer></footer>
</body>
</html>