<!DOCTYPE html>
<html lang="ko">
<head>
    <%-include("head") %>
    <title>JUMO 로그인</title>
</head>
<body>
    <header></header>
    <section></section>
    <footer></footer>
</body>
</html>