{
    "server": {
        "port":8080,
        "jwtAccessTokenSecret": "JWT_ACCESS_TOKEN_SECRET",
        "jwtAccessTokenExpire": "30m",
        "jwtRefreshTokenSecret": "JWT_REFRESH_TOKEN_SECRET",
        "jwtRefreshTokenExpire": "14d"
    },
    "db":{
        "host":"",
        "user":"",
        "password":"",
        "database":"",
        "port": 3036,
        "connectionLimit":16
    }
}