{
    "server": {
        "port":8080,
        "jwtSecret":""
    },
    "db":{
        "host":"",
        "user":"",
        "password":"",
        "database":"",
        "port": 3036,
        "connectionLimit":16
    }
}