section, body {
    height: 100%;
    width: 100%;
    position: absolute;
}

section {
    display: flex;
    align-items: center;
    padding: 0.3em;
}

.login-frame {
    padding:10px;
	box-shadow:0 0 1px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.3);
	background-color:#ffffff;
	word-break:break-all;
    display: block;

	font-size:14px;
	line-height:1.6em;

	border-radius: 10px;
	margin-bottom: 10px;

    min-width: 400px;
    margin: 0 auto;
}

.txtbox-wrapper {
    position:relative;

    padding: 5px 0 0 0;
}

.txtbox-box {
    display: flex;
}

.txtbox-input {
    border: none;
    outline: none;
    padding: 0.8em 0.8em;
    border-radius: 5px;
    box-shadow:0 0 1px 1px rgba(0,0,0,0.2), 0 3px 2px 0 rgba(0, 0, 0, 0.15);

    width: 100%;
    
    transition-property: box-shadow;
    transition-duration: 0.3;
}

.txtbox-input:focus{
    box-shadow:0 0 1px 1px rgba(0,0,0,0.2), 0 4px 4px 2px rgba(0, 0, 0, 0.15)
}

.txtbox-input:focus ~ .txtbox-hint {
    color: transparent;
}

.txtbox-hint  {
    position: absolute;

    padding: 0.8em 0.8em;
    color: #7a7a7a;
    user-select: none;

    cursor: text;

    top: 0;
    left: 0;
}

.btn-social {
    padding: 0.5em;
    border-radius: 12px;
    width: 100%;
    display: flex;
    vertical-align: middle;
    align-items: center;

    text-align:center;
    outline:none;
    border: none;

    color: #fafafa;

    cursor: pointer;

    transition-property: box-shadow;
    transition-duration: 0.3;

	box-shadow:0 0 1px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.btn-social:hover {
    box-shadow:0 0 1px 1px rgba(0,0,0,0.2), 0 3px 2px 0 rgba(0, 0, 0, 0.15);
}

.btn-social:active {
    box-shadow:0 2px 3px 2px rgba(0,0,0,0.15),0 5px 6px 3px rgba(0,0,0,0.15);
}

.btn-social .login-logo {
    height: 1.8em;
    width: 1.8em;
    margin: 0 2.4em 0 0.8em;
}

.btn-social .login-text {
    height: 14px;
    line-height: 1.8em;
}

.button-list {
    display: flex;
    flex-direction:space-evenly;
    column-gap: 0.5em;

    margin: 0.3em 0 0.3em 0;
    padding-bottom: 1em;
}

.btn-social-list {
    display: flex;
    flex-direction:column;
    row-gap: 0.5em;

    margin: 0.5em 0 0 0;
}

.btn-login-kakao {
    background-color: #FEE500;
}

.btn-login-naver {
    background-color: #1EC800;
}

.btn-login-google {
    background-color: #ffffff;
    color: #000000;
}

.btn-login-google div {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    height: 1.8em;
    line-height: 1.8em;
}
.btn-login-naver .login-text, .btn-login-kakao .login-text {

}

.input-area {
    padding-bottom: 1em;
}